<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base_generic.html" %} 

    <title>Delete post</title>
</head>

<body>
    {%block content%}
    <div class="container">
        <h1 class="text-center">Delete {{post.title}}</h1>
        <form method="POST" class="my-4">
            {% csrf_token %}
            {{ form.as_p }}
            <p  class="mt-4">Bạn có muốn xoá bài này không?</p>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-danger">Có, tôi muốn xoá</button>
                <a href="{% url 'post_list' %}" class="btn btn-secondary">Không</a>
            </div>
        </form>
    </div>
    {%endblock content%}
    
</body>

</html>